<div class="header">
    <a href="#default" class="logo">Pataki Bazar</a>
    <div class="header-right">
      <a routerLink="products"  >Home</a>
     <!-- // <a  routerLink="wishlist">Wishlist</a> -->
      <a routerLink="cart">Cart</a>
      <div *ngIf="!login" style="display: inline" ><a routerLink="login">Login</a></div>
      <div *ngIf="!login" style="display: inline" ><a routerLink="signup">Signup</a></div>
      <div *ngIf="login" style="display: inline"  ><a routerLink="profile">Profile</a></div>
      <a routerLink="category">Category</a>
    </div>
  </div>
  
    