.base{
    width: 100%;
    height: 600px;
    background-color: white;
    padding-top: 20px;
}
.category{
    width: 27%;
    height: 600px;
    background-color:lightseagreen;
    float: right;
}
.products{
    width: 70%;
    height: 600px;
    background-color: lightseagreen;
    float: left;
}
.button{
    width: 150px;
    height: 35px;
    margin-top: 13px;
    font-size: 16px;
    border-radius: 15px;
    box-shadow: 0 7px rgb(82, 80, 80);
    border: none;
}

.button:hover {background-color:lightpink}
.product{
    width: 250px;
    float: left;
    /* height: 200px; */
    padding-bottom: 20px;
    padding-right: 10px;
  }
  .overflow{
    white-space: nowrap; 
    width: 200px; 
    overflow: hidden;
    text-overflow: ellipsis; 
  
  }
  .options{
    float: right;
    width: 20%;
    background-color: brown;
    height: 100%;
    padding-top: 20px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 250px;  
    font-family: arial;
    background-color:lightsteelblue;
    
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }