<div class="base">
    <div class="category">
        <div *ngFor="let category of categoryList">
            <button (click)="secectCategory(category.categoryName)" class="button">{{category.categoryName}}</button>     
        </div>
    </div>
    <div class="products">
        <div *ngFor="let product of productList | filter:searchText ;let i = index">
            <div class=product>
                <div class="card">
                    <img width="120" height="140" src="{{product.image}}">
                    <div class="overflow">
                        <h3>{{product.pname}}</h3>
                    </div>
                    <p class="price">${{product.price}}</p>
                    <div class="overflow">
                        <p>{{product.desc}}</p>
                    </div>
                    <p><button (click)="buyProduct(product.pid)">Add to Cart</button></p>
                </div>
            </div>
        </div>
    </div>
</div>