<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<form>
  <section>
    <div id="myCarousel" class="carousel slide" data-ride="carousel" style="height: 250px;">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">

        <div class="item active" style="margin-left: 400px;">
          <img src="../../assets/download.png" alt="Chania">
          <div class="carousel-caption"></div>
        </div>

        <div class="item" style="margin-left: 400px;">
          <img src="../../assets/mob1.jpg" alt="Chania">
          <div class="carousel-caption"></div>
        </div>

        <div class="item" style="margin-left: 100px;">
          <div style="float: left;">
            <img src="../../assets/chappaldis.jfif">
          </div>
          <img src="../../assets/chappal.jpg" alt="Flower">
          <div class="carousel-caption"></div>
        </div>

        <div class="item" style="margin-left: 400px;">
          <img src="../../assets/cloths22.jpg" alt="Flower" style="height: 350px; width: fit-content;">
          <div class="carousel-caption"></div>
        </div>

      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </section>

  <div class="base">
    <div class="products">
      <!-- <h3>List of all product</h3>
      <table border="1 px solid black">
          <tr>
              <th>S.N</th>
              <th>ProductId</th>
              <th>ProductName</th>
              <th>Price</th>
              <th>Description</th>
              <th>CategoryId</th>
          </tr>
          <tr *ngFor = "let product of ProductList;let i = index">
              <td>{{i+1}}</td>
              <td>{{product.pid}}</td>
              <td>{{product.pname}}</td>
              <td>{{product.price}}</td>
              <td>{{product.desc}}</td>
              <td>{{product.cid}}</td>
          </tr>
      </table> -->

      <!-- <b>
        <h2 style="text-align:center">Product Card</h2>
      </b>
       -->
       <div class="search">
        <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
          placeholder="&#61442;  Search by Name/Number">
      </div>


      


        <div *ngFor="let product of ProductList;let i = index">
          <div class=product>
          <div class="card">
            <img width="120" height="140"src="https://i.gadgets360cdn.com/products/large/1532351323_635_samsung_galaxy_j8.jpg">
            <div class="overflow">  <h3>{{product.pname}}</h3></div>
            <p class="price">${{product.price}}</p>
           <div class="overflow"> <p>{{product.desc}}</p></div>
            <p><button>Add to Cart</button></p>
          </div>
        </div>
        </div>
    </div>
    <!-- <div class="options">

    </div> -->
  </div>
  <!--
  <div class="base">
  <div class="product">
    <div class="productslist">
      <div class="row">
        <div class="column">
          <div class="card">
            <img src="../../assets/watches.jfif" alt="Denim Jeans" style="width:200px; height: 220px;">
            <h1>Tailored Jeans</h1>
            <p class="price">$19.99</p>
            <p>Some text about the jeans..</p>
            <p><button>Add to Cart</button></p>
          </div>

        </div>
        <div class="column">
          <div class="card">
            <img src="../../assets/watches.jfif" alt="Denim Jeans" style="width:200px; height: 220px;">
            <h1>Tailored Jeans</h1>
            <p class="price">$19.99</p>
            <p>Some text about the jeans..</p>
            <p><button>Add to Cart</button></p>
          </div>

        </div>
        <div class="column">
          <div class="card">
            <img src="../../assets/watches.jfif" alt="Denim Jeans" style="width:200px; height: 220px;">
            <h1>Tailored Jeans</h1>
            <p class="price">$19.99</p>
            <p>Some text about the jeans..</p>
            <p><button>Add to Cart</button></p>
          </div>
        </div>
      </div>
    </div>
    
  </div>
  <div class="options">
    <div class="menubar">
      <form class="example" action="/action_page.php" style="margin:auto;max-width:300px">
        <input type="text" placeholder="Search.." name="search2">
        <button type="submit"><i class="fa fa-search"></i>Search</button>
        <div >
        <button type="submit"><i class="fa fa-search"></i>Sort</button>
       
        <button type="submit"><i class="fa fa-search"></i>Filter</button>
         </div>
      </form>
    </div>
  </div>

</div>
-->
</form>